/* Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  background-color: #242424;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  padding: 0px 20px;
}

.navbar-left {
  text-align: left;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.login-button {
  cursor: pointer;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.logout {
  cursor: pointer;
  padding-left: 10px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
